.vl {
    border-left: 6px solid green;
    height: inherit;
  }

  .walletIcon {
    padding: 20px 0px 0px 30px;
  }

  .accActions{
      padding: 15px 0px 0px 0px;
  }

  .accActions button{
      margin: 0 10px 0 5px;
  }