<!-- using bootstap here -->
<div class="card" style="width: 100%;" *ngFor="let acc of myAccount">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1 walletIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
            </div>
            <div class="col-sm-4">
                <!-- accountType -->
                <h2 class="card-title"> {{ acc.accountType }}</h2> 
                <p class="card-text"> Client - {{ acc.clientId }}</p>
            </div>
            <div class="vl"></div>
            <div class="col-sm-2">
                Available Balance <br>
                {{ acc.baseAmount | currency :'USD' : number : '1.2-2' }}
            </div>
            <div class="col-sm-4 accActions">
                <button type="button" class="btn btn-outline-primary" routerLink='/transfer'>Transfer</button>
                <button type="button" class="btn btn-outline-primary" routerLink='/beneficiaries'>View Beneficiaries</button>
            </div>
        </div>
    </div>
  </div>