
  <!-- <mat-horizontal-stepper linear #stepper> -->
<mat-horizontal-stepper linear #stepper>

    <!-- Add banking details form -->
    <mat-step [stepControl]="firstFormGroup" label="Add Banking Details">
      <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Add Banking Details</ng-template>
        
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Fullname" formControlName="fullname" required>
        </mat-form-field>

        <br>
        
        <mat-form-field appearance="outline">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bankName">
              <mat-option *ngFor="let food of banks" [value]="food.value" >
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field  appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Beneficiary Account" formControlName="accountNumber" required>
        </mat-form-field>

        <br>

        <mat-form-field  appearance="outline">
            <mat-label>Your Reference</mat-label>
            <input matInput placeholder="Your Reference" formControlName="yourRef" required>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
            <mat-label>Beneficiary Reference</mat-label>
            <input matInput placeholder="Beneficiary Reference" formControlName="beneficiaryReference" required>
        </mat-form-field>

        <br>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Account Id</mat-label>
            <input matInput type="number" value="" placeholder="1" formControlName="accId" required>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>Account</mat-label>
          <mat-select formControlName="accountId">
            <mat-option *ngFor="let acc of accounts" [value]="acc.value" >
              {{ acc.valuecount }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <div>
          <button type="submit" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- confirm banking details form -->
    <mat-step [stepControl]="secondFormGroup" label="Confirm Banking Details">
      <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitSecond()">
        <ng-template matStepLabel>Confirm Banking Details</ng-template>
        
        <mat-form-field  appearance="outline">
          <mat-label >Name</mat-label>
          <input matInput [formControl]="fullname"  placeholder="Fullname" formControlName="fullname">
        </mat-form-field>

        <br>
        
        <mat-form-field appearance="outline">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bankName">
              <mat-option *ngFor="let food of banks" [value]="food.value" >
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field  appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput [formControl]="accountNumber" placeholder="Beneficiary Account" formControlName="accountNumber">
        </mat-form-field>

        <br>

        <mat-form-field  appearance="outline">
            <mat-label>Your Reference</mat-label>
            <input matInput [formControl]="yourRef" placeholder="Your Reference" formControlName="yourRef">
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
            <mat-label>Beneficiary Reference</mat-label>
            <input matInput [formControl]="beneficiaryReference" placeholder="Beneficiary Reference" formControlName="beneficiaryReference">
        </mat-form-field>

        <br>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Account Id</mat-label>
            <input matInput placeholder="1" formControlName="accId" required>
        </mat-form-field> -->
        
        <mat-form-field appearance="outline">
          <mat-label>Account</mat-label>
          <mat-select formControlName="accountId">
            <mat-option *ngFor="let acc of accounts" [value]="acc.value" >
              {{ acc.valuecount }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext style="float: right;">Next</button>
        </div>
      </form>
    </mat-step>

    <!-- payment form -->
    <mat-step [stepControl]="thirdFormGroup" label="Confirm Banking Details">
      <ng-template matStepLabel>Pay</ng-template>
      
      <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitthird()">
        <ng-template matStepLabel>Make Payment</ng-template>
        
      
        <mat-form-field  appearance="outline">
          <mat-label> {{ this.secondFormGroup.value.fullname }} </mat-label>
          <input matInput 
            [formControl]="addedBeneficiary" 
            formControlName="addedBeneficiary"
            >
        </mat-form-field>

        <br>
     
        <mat-form-field  appearance="outline">
            <mat-label>Amount To Transfer ($)</mat-label>
            <input matInput [formControl]="amount" placeholder="Enter amount" formControlName="amount">
        </mat-form-field>

        <br>

        <div>
            <button mat-raised-button color="primary" matStepperNext style="width: 100%;">Make Payment</button>
        </div>
      </form>
    

      <!-- <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div> -->
    </mat-step>

    <!-- confirmation form -->
    <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        
        <mat-card class="example-card">
          <mat-icon class="exIcon">check_circle_outline</mat-icon> <br>
    
          <mat-card-actions>
            <button mat-raised-button color="primary" routerLink='/' style="width: 100%;">Done</button>
          </mat-card-actions>
        </mat-card>

      </mat-step>
  </mat-horizontal-stepper>
  